.animated-paragraph {
    opacity: 0;
    transform: translateY(-20px); /* Mueve el párrafo hacia arriba */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
}

.fade-in {
    opacity: 1;
    transform: translateY(0); /* Regresa a su posición original */
}